@font-face {
font-family: 'Brandon Grotesque Bold';
src: url('font/BrandonGrotesque-Bold.eot');
src: url('font/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
url('font/BrandonGrotesque-Bold.woff') format('woff'),
url('font/BrandonGrotesque-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Brandon Grotesque Light';
src: url('font/BrandonGrotesque-Light.eot');
src: url('font/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
url('font/BrandonGrotesque-Light.woff') format('woff'),
url('font/BrandonGrotesque-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Brandon Grotesque Regular';
src: url('font/BrandonGrotesque-Regular.eot');
src: url('font/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
url('font/BrandonGrotesque-Regular.woff') format('woff'),
url('font/BrandonGrotesque-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
